.feed{
  flex: 1;
  display: grid;

  
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 8px;
  padding-top: 8%;
  background:  radial-gradient(circle at center, #2e1a47 0%, #120b1e 100%);
    color: white;;
    padding-right: 10%;
    padding-left: 10%;
}

.feed img{
  height: 200px;
  width: 200px;
  
  border-radius: 10px;
  object-fit: fill;
  
}