.Navbar{
    display: flex;
    align-items: center;
    gap: 13px;
    background: radial-gradient(circle at center, #2e1a47 0%, #120b1e 100%);
    color: white;
    padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 1000;
    
}
.Navbar h1{
    
    font-size: 2vw;
    
}
.logo{
    width: 5rem;
    border-radius:10px;
}
.menu{
    height: 20px;
    color: white;
    filter: invert(100%) brightness(200%);
      margin-left: 1%;
  
  cursor: pointer;
}
.movie-search{
    width: 100%;
    max-width: 500px;
    padding: 10px 24px;
    background:#fff4;
  backdrop-filter: blur(10px);
  border: none;
  outline: none;
  border-radius: 10px;
  margin-left: 1%;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 600;
  outline: none;                       
  transition: all 0.3s ease;
}
.Navbar button{
    margin-left: 25%;
    background: radial-gradient(circle at center, #2e1a47 0%, #120b1e 100%);
    color: white;
    padding: 8px 19px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 15px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}